FLASK_SECRET_KEY=
FINBIF_API_TOKEN=
MONGODB_SERVER=NNN.mongodb.net
MONGODB_USER=
MONGODB_PASS=
REDIS_HOST=NNN.redislabs.com
REDIS_USER=
REDIS_PASS=
REDIS_PORT=10328
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_CHAT_ID=
DEV_SECRET=1
BIRD_SECRET=
BIRD_URL=
BIRD_CLASS=
NEWSAPI_KEY=
OPENAI_API_KEY=
FLUSH_SECRET=
