body {
    font-family: Roboto, sans-serif;
    font-size: 86%;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
}

h1 {
    font-size: 165%;
    margin-bottom: 1em;
}

h1 span {
    font-size: 100%;
    font-weight: normal;
}

h2 {
    border-bottom: 4px solid #dee;
}

h2, h3 {
    margin-top: 2em;
}

#navi {
    margin: -10px -10px 20px -10px;
    padding: 15px 10px;
    color: #fff;
    background-color: #005f6a; /* random petrol */
    background-color: #009879;
}

#navi p {
    margin: 0;
}

#navi a {
    color: #8ff4ff; /* random verylight */
    color: #80ffe5;
}

#subnavi {
    max-width: 600px;
    background-color: #cfece7;
    padding: 10px;
    border-radius: 5px;
}

#subnavi h3 {
    margin: 0 0 0.5em 0;
}

#subnavi p {
    margin: 0 0 1em 0;
}

#subnavi input {
    width: 5em;
}

#links {
    margin: -0.7em -10px 1.5em;
    padding: 0.5em 1em;
    border-left: 10px solid #009879;
}

#links span {
    padding-left: 1em;
    font-weight: bold;
}

#links a {

}

h2, h3, h3 {
    margin: 1.7em 0 0.5em 0;
}

/* Species checklist */

#species_table {
    clear: both;
    padding-top: 1em;
}

#listwrapper {
  columns: 3 200px;
}

.row {
    display: block;
    clear: both;
}

.row div {
    border-top: 1px solid #dee;
    border-left: 1px solid #dee;
    padding: 0.1em;
    display: inline;
    float: left;
    width: 20px;
    overflow: hidden;
}

.row div.species {
    border-left: 0;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
}

.row div.own {
    width: 60px;
}

.atlas3, .atlas4 {
    text-align: center;
}

.breeding_now {
    font-weight: bold;
}


/* Info texts */

#info_top {
    margin: 0;
}

#info_top #info p {
    margin: 0;
}

#info_top #info #paragraph1 {
    margin: 1em 0;
    font-weight: bold;
}

#fillable {
    margin-top: 1em;
    height: 2em;
    line-height: 150%;
}

#fillable span {
    display: block;
    float: left;
    margin-right: 3em;
}

#paikka {
    width: 14em;
}

#pvm {
    width: 8em;
}

#havainnoijat {
    clear: left;
    width: 18em;
}

#fillable #taydellinen {
    margin-right: 1em;
}

#info_top strong {
    font-weight: normal;
    letter-spacing: 0.2em;
}

#klo {
    width: 12em;
}

#info_bottom {
    margin: 1em 0 0 0;
}

#version {
    margin-top: -1em;
    font-size: 70%;
}

#mapwrapper {
    justify-content: center;
}

#map {
    margin: 1em auto;
    width: 99%;
    height: 500px;
    border-radius: 5px; 
}

/* Generic tables */
/* https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l */
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
        min-width: 30em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        box-shadow: none;
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
        padding: 0.7em 0.9em;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
        border-bottom: 0;
}
.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

#cumulative_chart, #daily_chart {
    max-width: 1000px;
    min-height: 300px;
    max-height: 600px;
}

.horizontal_bar {
    background-color: #80c9ba;
    display: block;
}

#cc {
    margin: 2em -10px 0 -10px;
    padding: 10px;
    border-top: 4px solid #dee;
    font-style: italic;
}

#speciesmap {
    width: 300px;
    height: 430px;
    border: 2px solid #dee;
    margin-bottom: 1em;
    max-width: 90%;
    float: right;
}

.species {
    margin-top: 1.5em;
    background-color: #dee;
    padding: 1em;
    border-radius: 1em;
}

.species h3 {
    margin-top: 0;
}

.multimedia {
    display: flex;
    flex-direction: row;
}

.ingressi {
    font-style: italic;
}

figure {
    max-width: 220px;
    margin: 0 10px 0 0;
    padding: 1em;
}

/* Printer */

@media print {

    .noprint, #navi, #subnavi, #links {
      display: none;
    }

    h1 {
        font-size: 120%;
    }
    
    .styled-table td {
        padding: 0.1em 0.5em;
    }
  
  }