body {
    font-family: Roboto, sans-serif;
    font-size: 80%;
}

h1 {
    font-size: 120%;
}

h1 span {
    font-size: 100%;
    font-weight: normal;
}

#navi {
    margin: -10px -10px 20px -10px;
    padding: 15px 10px;
    color: #fff;
    background-color: #005f6a;
}

#navi p {
    margin: 0;
}

#navi a {
    color: #8ff4ff;
}

/* Species table */

#species_table {
    clear: both;
    padding-top: 1em;
}

#listwrapper {
  columns: 3 200px;
}

.header {
    font-weight: bold;
}

.row {
    display: block;
    clear: both;
}

.row div {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 0.1em;
    display: inline;
    float: left;
    width: 20px;
    overflow: hidden;
}

.row div.species {
    border-left: 0;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
}

.row div.own {
    width: 60px;
}

.atlas3, .atlas4 {
    text-align: center;
}

.breeding_now {
    font-weight: bold;
}


/* Info texts */

#info_top {
    margin: 0;
}

#info_top #info p {
    margin: 0;
}

#info_top #info #paragraph1 {
    margin: 1em 0;
    font-weight: bold;
}

#fillable {
    margin-top: 1em;
    height: 2em;
    line-height: 150%;
}

#fillable span {
    display: block;
    float: left;
    margin-right: 3em;
}

#paikka {
    width: 14em;
}

#pvm {
    width: 8em;
}

#havainnoijat {
    
}

#fillable #taydellinen {
    margin-right: 1em;
}

#info_top strong {
    font-weight: normal;
    letter-spacing: 0.2em;
}

#klo {
    width: 12em;
}

#info_bottom {
    margin: 1em 0 0 0;
}

#version {
    margin-top: -1em;
    font-size: 70%;
}

@media print {

    .noprint, #navi {
      display: none;
    }
  
  }