{% extends "base.html" %}

{% block head %}
    <title>{{ html["species_name"].capitalize() }} - Lintuatlaksen tilastoja (biomi.org)</title>
    <script src="/static/chart.js"></script>
{% endblock %}

{% block breadcrumb %}
    <a href="/">Havistin</a> &raquo; <a href="/atlas">Lintuatlas</a> &raquo; <a href="/atlas/lajiluettelo">Lajit</a> &raquo; {{ html["species_name"].capitalize() }} 
{% endblock %}

{% block body %}

    <p id="prevnext">
        <a href="/atlas/laji/{{ html["prev_name"] }}" id="prev">
            &laquo; {{ html["prev_name"]}}
        </a>
        <a href="/atlas/laji/{{html["next_name"]}}" id="next">
            {{html["next_name"] }} &raquo;
        </a>
    </p>

    <h1>{{ html["species_name"].capitalize() }}</h1>

    <span id="speciesmap"><img src='https://atlas-api.2.rahtiapp.fi/api/v1/map/{{ html["qname"] }}/atlas'></span>

    {{ html["prediction_map"] | safe }}

    <p>Pesimäkanta keskimäärin <strong>{{ html["species_pairs"] }} paria (2010)</strong></p>
    <p>Habitaatit: <strong>{{ html["habitats"] }}</strong></p>
    <p>Uhanalaisuusluokka: <strong>{{ html["redlist"] }}</strong></p>
    <p><a href='https://tulokset.lintuatlas.fi/species/{{ html["qname"] }}' target='_blank'>Atlaskartta</a></p>

    <h3>Atlashavaintojen määrä (4. atlas)</h3>

    {{ html["atlas_classes_html"] | safe }}

    <p>Atlashavaintoja (varma, todennäköinen, mahdollinen) suhteessa parimäärään: <strong>{{ html["proportion"] }}</strong></p>


    <h3>Atlashavaintojen ajoittuminen</h3>
    <p>Päivittäinen havaintomäärä (mahdolliset + todennäköiset + varmat) vuoden 2022-2023 havainnoista, joiden alku- ja loppupäivä ovat samat.</p>

    <div>
        <canvas id="daily_chart"></canvas>
    </div>

    <h3>Miten pesinnät on varmistettu (3. ja 4 atlas)</h3>
    <p>Taulukossa on havainnot pesimävarmuusindekseillä 71, 72, 73, 74, 75, 81 ja 82.</p>
    {{ html["confirmed_atlas_codes_html"] | safe }}

    <h3>Varmojen pesimähavaintojen lisätiedot (4. atlas)</Label></h3>
    {{ html["notes"] | safe }}


    <script type="text/javascript">

        const labels = [];
        for (let i = 0; i < 365; i++) {
            const date = new Date(2023, 0, i + 1); // 2023 is the year, 0 is January (the first month), i + 1 is the day
            const dateString = date.toLocaleDateString('fi-FI', { month: 'short', day: 'numeric' }); // format the date as 'MMM D'
            labels.push(dateString);
        }

        const daily_data = {
            labels: labels,
            datasets: [
                { 
                    data: {{ html["phenology_atlas_confirmed"]|safe }},
                    type: 'line',
                    borderColor: '#1C9AA7',
                    tension: 0.1,
                    pointStyle: false,
                    label: "varmat"
                },
                { 
                    data: {{ html["phenology_atlas_all"]|safe }},
                    type: 'bar',
                    backgroundColor: '#FE708A',
                    pointStyle: false,
                    label: "mahdolliset+todennäköiset+varmat"
                }
            ]
        };

        const config = {
            data: daily_data,
            options: {
            },
        };
        
        const myChart = new Chart(document.getElementById('daily_chart'), config);
    </script>


{% endblock %}
