{% extends "base.html" %}

{% block head %}
    <title>Lintuatlaksen tilastoja (biomi.org)</title>
    <script src="/static/chart.js"></script>
{% endblock %}

{% block breadcrumb %}
    <a href="/">Havistin</a> &raquo; <a href="/atlas">Lintuatlas</a> &raquo; Ruututilastoja
{% endblock %}

{% block body %}

    <h1>Lintuatlaksen ruututilastoja</h1>

    <p>Tällä sivustolla on Lintuatlaksen tuoreita tilastoja, perustuen Lajitietokeskuksen rajapintaan ja avoimeen dataan. <a href='../'>Lue lisää etusivulta</a>.</p>

    <h3>Atlasruudut, joista eniten havaintoja (top 30)</h3>
    {{ html["squares"]|safe }}

    <h3>Atlasruudut, joista eniten tarkkoja havaintoja (top 30, tarkkuus < 1000 m)</h3>
    {{ html["accurate_squares"]|safe }}

{% endblock %}
