{% extends "base.html" %}

    {% block head %}
    <title>Lintuatlaksen tilastoja (biomi.org)</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script src="/static/leaflet-heat.js"></script> 
    {% endblock %}

    {% block breadcrumb %}
    <a href="../../../">Lintuatlas</a> &raquo; <a href="/atlas/gps">Hae sijainti</a> &raquo;
    {% endblock %}

    {% block body %}

    <div id="heading">
        <h1>{{ html["heading"]|safe }}</h1>
        <p id="links">
            <span>
                <a href="/atlas/ruutulomake/{{ html["square_id"] }}/vakio">Maastolomake</a>
            </span>
            <span>
                <a href="/atlas/puutelista/{{ html["square_id"] }}">Puutelista</a>
            </span>
        </p>
    </div>

    <div id="subnavi">
        <form id="squareselection" action="" method="get">
            <input id="mode" type="hidden" value="squareform">
            <label id="square-label">
                Ruutu:
                <input type="text" id="square" name="square">
            </label>
            <input type="submit" value="Valitse"> <span>(esim. 668:338)</span>
        </form>
        <p id="subnavi_p"><a href="/atlas/gps">Hae sijaintisi uudelleen</a></p>
    </div>

    <div id="map" style="height: 300px"></div>

    <div>{{ html["info_top"]|safe }}</div>

    <p>{{ html["observation_count"] }} atlashavaintoa tästä ruudusta.</p>

    <p>Ruudulla todennäköisesti esiintyvät lajit ja suurin imoitettu pesimävarmuusindeksi:</p>
    {{ html["species_table"]|safe }}
    

    <p id="position"></p>

<script>

// Map
var map = L.map('map', { scrollWheelZoom: false }).setView([{{ html["centerpoint"]|safe }}], 11);

// Set max zoom, since too much zooming gives wrong impression of inaccurate obs locations.
// But: this affects heat map calculations!
//map.options.maxZoom = 14;

var tiles = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
}).addTo(map);

var polyLatLon = [ {{ html["cornerpoints"]|safe }} ];
var polyline = L.polyline(polyLatLon, {color: 'red'}).addTo(map);

var marker

// On page load
window.onload = function() {
    if (!navigator.geolocation) {
        document.getElementById('position').innerHTML = "Selaimesi ei tuo paikannusta";
    } else {
        document.getElementById('position').innerHTML = "Paikantaa...";
        navigator.geolocation.watchPosition(success, error);
    }
};

function success(position) {
    if(position.coords.accuracy < 200) {
        var latitude  = Math.round(position.coords.latitude * 10000) / 10000;
        var longitude = Math.round(position.coords.longitude* 10000) / 10000;
        var accuracy = Math.round(position.coords.accuracy);

        document.getElementById('position').innerHTML = 'N: ' + latitude + '°<br>E: ' + longitude + '°<br>Tarkkuus: ' + accuracy + ' m';

        // update or add the marker
        if (marker) {
            marker.setLatLng([latitude, longitude]);
        } else {
            marker = L.marker([latitude, longitude]).addTo(map);
        }

        navigator.geolocation.clearWatch(success);
    }
}

function error() {
    document.getElementById('position').innerHTML = "Sijaintiasi ei voitu paikantaa.";
}

</script>        

    {% endblock %}
