{% extends "base.html" %}

{% block head %}
    <title>{{ html["title"] }} - Lintuatlas (biomi.org)</title>
{% endblock %}

{% block breadcrumb %}
    <a href="/">Havistin</a> &raquo; <a href="/atlas">Lintuatlas</a> &raquo; Puutelista
{% endblock %}

{% block body %}

    <div id="subnavi">
        <h3>Ruudun puutelista</h3>
        <form id="squareselection" action="" method="get">
            <input id="mode" type="hidden" value="misslist">
            <label id="square-label">
                Ruutu:
                <input type="text" id="square" name="square">
            </label>
            <input type="submit" value="Valitse"> <span>(esim. 668:338)</span>
        </form>
    </div>

    <div id="heading">
        <h1>{{ html["heading"]|safe }}</h1>
        <p id="links">
            <span>
                <a href="/atlas/ruutulomake/{{ html["square_id"] }}/vakio">Maastolomake</a>
            </span>
            <span>
                <a href="/atlas/ruutu/{{ html["square_id"] }}">Havaintokartta</a>
            </span>
            <span>
                Naapuriruudut:
                <a href="/atlas/puutelista/{{ html["neighbour_ids"]["w"] }}">&laquo; W</a>
                <a href="/atlas/puutelista/{{ html["neighbour_ids"]["n"] }}">N</a>
                <a href="/atlas/puutelista/{{ html["neighbour_ids"]["s"] }}">S</a>
                <a href="/atlas/puutelista/{{ html["neighbour_ids"]["e"] }}">E &raquo;</a>
            </span>
            <span>
                <a href="https://laji.fi/map?gridsquare={{ html['square_id'] }}&layers=maastokartta,atlasGrid&print=true">Tulostettava kartta</a>
            </span>
            <span>
                <a href="https://tulokset.lintuatlas.fi/grid/{{ html['square_id'] }}">Tulospalvelu</a>
            </span>
            <span>
                <a href="https://laji.fi/observation/map?informalTaxonGroupId=MVL.1&countryId=ML.206&time=2022-01-01%2F2025-12-31&coordinates={{ html['square_id'] }}:YKJ:0.7&recordQuality=COMMUNITY_VERIFIED,NEUTRAL,EXPERT_VERIFIED&atlasClass=MY.atlasClassEnumB,MY.atlasClassEnumC,MY.atlasClassEnumD">Laji.fi</a>
            </span>
    </div>

    <div id="info_top">
        <div id="info">
            {{ html["info_top"]|safe }}
        </div>
        <!--
        <div id="fillable">
            <span id="paikka">Paikka:</span>
            <span id="pvm">Pvm:</span>
            <span id="klo">Klo alku & loppu:</span>
            <span id="havainnoijat">Havainnoijat:</span>
            <span id="taydellinen"><strong>☐</strong> Täydellinen lista</span>
            <span id="tallennettu">Tallennettu: <strong>☐</strong> Vihko <strong>☐</strong> Tiira <strong>☐</strong> iNaturalist</span>
        </div>
        -->
    </div>

    <p class="noprint">Puutelistalla on ne lajit, jotka <a href='https://www.biomi.org/2023/05/23/lintulajien-levinneisyysmallinnus-koneoppimisella/'>tekoälypohjaisen ennustemallin</a> mukaan esiintyvät tällä ruudulla, mutta joiden pesintää ei ole varmistettu. <strong>Pistearvo lasketaan ennustetun pesimävarmuusluokan (0-3) ja nykyisen pesimävarmuusluokan erotuksena.</strong> Mitä suurempi arvo, sitä enemmän pesimävarmuutta voisi ennusteen mukaan korottaa. Yhden pisteen korotus tarkoittaa esim. muutosta mahdollisesta todennäköiseksi. Naapuriruutujen tai kolmannen atlaksen havainnot eivät vaikuta ennusteeseen.</p>

    <div id="species_table">
        {{ html["species_table"]|safe }}
    </div>


{% endblock %}

