{% extends "base.html" %}

{% block head %}
    <title>{{ html["species_name"].capitalize() }} - Lintuatlaksen tilastoja (biomi.org)</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block breadcrumb %}
    &raquo; <a href="../../../">Lintuatlas</a> &raquo; <a href="/atlas/lajiluettelo">Lajit</a> &raquo; {{ html["species_name"].capitalize() }} 
{% endblock %}

{% block body %}

    <p id="prevnext">
        <a href="/atlas/laji/{{ html["prev_name"] }}" id="prev">
            &laquo; {{ html["prev_name"]}}
        </a>
        <a href="/atlas/laji/{{html["next_name"]}}" id="next">
            {{html["next_name"] }} &raquo;
        </a>
    </p>

    <h1>{{ html["species_name"].capitalize() }}</h1>

    <p>Pesimäkanta keskimäärin <strong>{{ html["species_pairs"] }} paria</strong> (2010)</p>
    <p>Habitaatit: <strong>{{ html["habitats"] }}</strong></p>
    <p>Uhanalaisuusluokka: <strong>{{ html["redlist"] }}</strong></p>

    <h3>Atlashavaintojen määrä (4. atlas)</h3>

    {{ html["atlas_classes_html"] | safe }}

    <p>Atlashavaintoja (varma, todennäköinen, mahdollinen) suhteessa parimäärään: <strong>{{ html["proportion"] }}</strong></p>

    <h3>Miten pesinnät on varmistettu (3. ja 4 atlas)</h3>
    <p>Taulukossa on havainnot pesimävarmuusindekseillä 71, 72, 73, 74, 75, 81 ja 82.</p>
    {{ html["confirmed_atlas_codes_html"] | safe }}

    <h3>Varmojen pesimähavaintojen lisätiedot (4. atlas)</Label></h3>
    {{ html["notes"] | safe }}


{% endblock %}
