{% extends "base.html" %}

{% block head %}
    <title>{{ html["title"] }} - Lintuatlas (biomi.org)</title>
{% endblock %}

{% block breadcrumb %}
    &raquo; <a href="../../../">Lintuatlas</a> &raquo; Puutelista
{% endblock %}

{% block body %}

    <div id="subnavi">
        <h3>Ruudun puutelista</h3>
        <form id="squareselection" action="" method="get">
            <input id="mode" type="hidden" value="misslist">
            <label id="square-label">
                Ruutu:
                <input type="text" id="square" name="square">
            </label>
            <input type="submit" value="Valitse"> <span>(esim. 668:338)</span>
        </form>
    </div>

    <div id="heading">
        <h1>{{ html["heading"]|safe }}</h1>
        <p id="links">
            <span>
                <a href="/atlas/ruutulomake/{{ html["square_id"] }}/vakio">Ruudun maastolomake</a>
            </span>
            <span>
                <a href="/atlas/ruutu/{{ html["square_id"] }}">Ruudun havaintokartta</a>
            </span>
            <span>
                Naapuriruudut:
                <a href="/atlas/puutelista/{{ html["neighbour_ids"]["w"] }}">&laquo; W</a>
                <a href="/atlas/puutelista/{{ html["neighbour_ids"]["n"] }}">N</a>
                <a href="/atlas/puutelista/{{ html["neighbour_ids"]["s"] }}">S</a>
                <a href="/atlas/puutelista/{{ html["neighbour_ids"]["e"] }}">E &raquo;</a>
            </span>
            <span>
                <a href="https://laji.fi/map?gridsquare={{ html["square_id"] }}&layers=maastokartta,atlasGrid&print=true">Tulostettava kartta</a>
            </span>
    </div>

    <div id="info_top">
        <div id="info">
            {{ html["info_top"]|safe }}
        </div>
        <div id="fillable">
            <span id="paikka">Paikka:</span>
            <span id="pvm">Pvm:</span>
            <span id="klo">Klo alku & loppu:</span>
            <span id="havainnoijat">Havainnoijat:</span>
            <span id="taydellinen"><strong>☐</strong> Täydellinen lista</span>
            <span id="tallennettu">Tallennettu: <strong>☐</strong> Vihko <strong>☐</strong> Tiira <strong>☐</strong> iNaturalist</span>
        </div>
    </div>

    <div id="species_table">
        {{ html["species_table"]|safe }}
    </div>

    <p>Puutelistalla ei ole mukana lajeja, joiden pesintä on jo varmistettu tästä ruudusta. Pistearvo lasketaan kahdeksan naapuriruudun havaintojen perusteella niin että varma pesintä tuo 3 pistettä, todennäköinen 2 ja mahdollinen 1. Eli jos laji on havaittu varmasti pesivänä kaikissa naapuriruuduissa, sen pistearvo on 24.</p>

{% endblock %}

