{% extends "base.html" %}

{% block head %}
    <title>Lintuatlaksen tilastoja (biomi.org)</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block breadcrumb %}
    <a href="/">Havistin</a> &raquo; Lintuatlas
{% endblock %}

{% block body %}

    <h1>Lintuatlaksen tilastoja ja apuvälineitä</h1>

    <p>Tällä sivustolla on Lintuatlaksen tuoreita tilastoja, perustuen <a href='https://lintuatlas.fi/api/'>Lajitietokeskuksen rajapintaan</a> ja avoimeen dataan. Useimmat tilastot päivittyvät kerran tunnissa, ruutulomake kerran vuorokaudessa.</p>
    <p>Vihkoon ja iNaturalistiin tallennetut havainnot ovat mukana tarkkoina, poislukien sensitiiviset lajit sekä käyttäjien karkeistamat havainnot, jotka tulevat mukaan 1-4 vrk viiveellä sekä karkeistuksen mukaisina. Tiiran havainnot tulevat mukaan karkeistettuna seuraavan yön jälkeen, poislukien Tiirassa salatut havainnot, jotka tulevat mukaan 3 kk viiveellä. Mukana ei ole epätodennäköisiä pesimävarmuusindeksejä, eikä epävarmoiksi tai virheellisiksi merkittyjä havaintoja.</p>
    <p><a href='https://laji.fi/observation/list?informalTaxonGroupId=MVL.1&countryId=ML.206&time=2022-01-01%2F2025-12-31&recordQuality=COMMUNITY_VERIFIED,NEUTRAL,EXPERT_VERIFIED&atlasClass=MY.atlasClassEnumB,MY.atlasClassEnumC,MY.atlasClassEnumD'>Kaikki atlashavainnot Laji.fi:ssa</a> | <a href='https://tulokset.lintuatlas.fi/'>Atlaksen tulospalvelu</a></p>

    <div id="subnavi">
        <h3>Tulostettava atlasruudun maastolomake</h3>
        <form id="squareselection" action="" method="get">
            <input id="mode" type="hidden" value="squareform">
            <label id="square-label">
                Ruutu:
                <input type="text" id="square" name="square">
            </label>
            <input type="submit" value="Valitse"> <span>(esim. 668:338)</span>
        </form>
    </div>

    <h3><a href='/atlas/gps'>Puutelista kännykässä</a></h3>
    <p>Ruudun puutelista ja biotoopit, joista pesintöjä kannattaa etsiä. Hakee sijainnin GPS:n avulla.</p>

    <h3><a href='/atlas/lajiluettelo'>Lajit</a></h3>
    <p>Tietoja ja tilastoja yksittäisistä lajeista, mm. mihin aikaan ja millä tavoin pesintöjä varmistetaan.</p>

    <h3><a href='/atlas/lajit'>Viime aikoina havainnoidut lajit</a></h3>
    <p>Mistä lajeista on tehty eniten pesimähavaintoja viime aikoina?</p>

    <h3><a href='/atlas/luokka/tyydytt%C3%A4v%C3%A4'>Ruutujen pesimävarmuussummat suhteessa selvitysasteisiin</a></h3>
    <p>Täällä voit vertailla kuinka monta pesimävarmuussummapistettä ruuduilta puuttuu, jotta ne saavuttaisivat tietyn selvitysasteen.</p>

    <h3><a href='/atlas/listat'>Täydelliset listat</a></h3>
    <p>Lintuatlaksen myötä otettiin käyttöön Suomessa uusi havaintojen ilmoittamisen tapa, täydelliset lajilistat. Mistä ruuduista on tallennettu täydellisiä listoja?</p>

    <h3><a href='/atlas/ruudut'>Ruututilastoja</a></h3>
    <p>Aktiivisimmin kartoitettuja ruutuja</p>

    <h3><a href='/atlas/havainnoijat'>Havainnoijatilastoja</a></h3>
    <p>Aktiivisimpia havainnoijia</p>

    <h3><a href='/atlas/havaintosuhteet'>Lajien havaintomääriä</a></h3>
    <p>Havaintomäärien suhteita pesimäkannan kokoon.</p>

    <h3><a href='https://www.biomi.org/2023/02/17/mitka-lintulajit-suosivat-vanhoja-metsia/' target="_blank">Mitkä lintulajit suosivat vanhoja metsiä?</a></h3>
    <p>Atlashavaintojen ja puuston tilavuuden perusteella laskettuja tunnuslukuja. (biomi.org/blogi)</p>

    <h3>Ruutuvertailu</h3>
    <p>Ruutujen selvitysasteiden ja pesimävarmuussummien vertailu 3. ja 4. atlaksen sekä ennustemallin välillä.</p>
    <ul>
        <li><a href="/atlas/ruutuvertailu/ML.1088">Ålands Fågelskyddsförening r.f.</a></li>
        <li><a href="/atlas/ruutuvertailu/ML.1089">Turun Lintutieteellinen Yhdistys ry</a></li>
        <li><a href="/atlas/ruutuvertailu/ML.1090">Porin Lintutieteellinen Yhdistys ry</a></li>
        <li><a href="/atlas/ruutuvertailu/ML.1091">Helsingin Seudun Lintutieteellinen Yhdistys - Tringa ry</a></li>
        <li><a href="/atlas/ruutuvertailu/ML.1092">Keski- ja Pohjois-Uudenmaan Lintuharrastajat - Apus ry</a></li>
        <li><a href="/atlas/ruutuvertailu/ML.1093">Porvoon Seudun Lintuyhdistys ry</a></li>
        <li><a href="/atlas/ruutuvertailu/ML.1094">Kymenlaakson Lintutieteellinen Yhdistys ry</a></li>
        <li><a href="/atlas/ruutuvertailu/ML.1095">Etelä-Karjalan Lintutieteellinen Yhdistys ry</a></li>
        <li><a href="/atlas/ruutuvertailu/ML.1096">Lounais-Hämeen Lintuharrastajat ry</a></li>
        <li><a href="/atlas/ruutuvertailu/ML.1097">BirdLife Kanta-Häme ry</a></li>
        <li><a href="/atlas/ruutuvertailu/ML.1098">Päijät-Hämeen Lintutieteellinen Yhdistys ry</a></li>
        <li><a href="/atlas/ruutuvertailu/ML.1099">Pirkanmaan Lintutieteellinen Yhdistys ry</a></li>
        <li><a href="/atlas/ruutuvertailu/ML.1101">Etelä-Savon Lintuharrastajat - Oriolus ry</a></li>
        <li><a href="/atlas/ruutuvertailu/ML.1102">Lintuyhdistys Kuikka ry (Pohjois-Savo)</a></li>
        <li><a href="/atlas/ruutuvertailu/ML.1103">Pohjois-Karjalan Lintutieteellinen Yhdistys ry</a></li>
        <li><a href="/atlas/ruutuvertailu/ML.1104">BirdLife Keski-Suomi ry</a></li>
        <li><a href="/atlas/ruutuvertailu/ML.1105">Suomenselän Lintutieteellinen Yhdistys ry</a></li>
        <li><a href="/atlas/ruutuvertailu/ML.1106">Suupohjan Lintutieteellinen Yhdistys ry</a></li>
        <li><a href="/atlas/ruutuvertailu/ML.1107">Merenkurkun Lintutieteellinen Yhdistys ry</a></li>
        <li><a href="/atlas/ruutuvertailu/ML.1108">BirdLife Keski-Pohjanmaa ry</a></li>
        <li><a href="/atlas/ruutuvertailu/ML.1109">Pohjois-Pohjanmaan Lintutieteellinen Yhdistys ry.</a></li>
        <li><a href="/atlas/ruutuvertailu/ML.1110">Kainuun Lintutieteellinen Yhdistys ry</a></li>
        <li><a href="/atlas/ruutuvertailu/ML.1111">Meri-Lapin Lintutieteellinen Yhdistys Xenus ry</a></li>
        <li><a href="/atlas/ruutuvertailu/ML.1112">Lapin Lintutieteellinen Yhdistys ry</a></li>
        <li><a href="/atlas/ruutuvertailu/ML.1113">Kuusamon Lintukerho ry</a></li>
        <li><a href="/atlas/ruutuvertailu/ML.1114">Lohjan Lintutieteellinen Yhdistys - Hakki ry</a></li>
        <li><a href="/atlas/ruutuvertailu/ML.1116">Rauman Seudun Lintuharrastajat ry</a></li>
        <li><a href="/atlas/ruutuvertailu/ML.1267">Ostrobothnia Australis r.f.</a></li>        
    </ul>


    {{ html["collections_table"]|safe }}

    {{ html["accuracy_table"]|safe }}

    <h3>Havaintojen kertyminen vuonna 2024</h3>
    <p>Huomaa että Tiiran havainnot tulevat Lajitietokeskukseen tallennusta seuraavana aamuna, joten esim. sunnuntaina tallennetut havainnot näkyvät tässä maanantain kohdalla.</p>

    <div>
        <canvas id="cumulative_chart"></canvas>
    </div>

    <div>
        <canvas id="daily_chart"></canvas>
    </div>

    <h3>Havaintojen kertyminen vuonna 2023</h3>

    <p class="img-chart"><img src="/static/images/havainnot-2023.png" alt=""></p>

    <h3>Havaintojen kertyminen vuonna 2022</h3>

    <p class="img-chart"><img src="/static/images/havainnot-2022.png" alt=""></p>

    <script type="text/javascript">
        json = '{{ html["cumulative_datechart_data_vihko"]|safe }}';
        vihko_data = JSON.parse(json);

        json = '{{ html["cumulative_datechart_data_tiira"]|safe }}';
        tiira_data = JSON.parse(json);

        json = '{{ html["cumulative_datechart_data_tipu"]|safe }}';
        tipu_data = JSON.parse(json);

        const data = {
            datasets: [
                { 
                    data: vihko_data,
                    borderColor: '#FA5428',
                    pointStyle: false,
                    label: "Vihko, lintuatlas- ja retkilomake"
                },
                { 
                    data: tiira_data,
                    borderColor: '#99019C',
                    pointStyle: false,
                    label: "Tiira"
                },
                { 
                    data: tipu_data,
                    borderColor: '#74AC00',
                    pointStyle: false,
                    label: "Rengastukset"
                }
            ]
        };

        const config = {
            type: 'line',
            data: data,
            options: {}
        };
        
        const myChart = new Chart(document.getElementById('cumulative_chart'), config);
    </script>

    <script type="text/javascript">
        json = '{{ html["daily_datechart_data_vihko"]|safe }}';
        vihko_data = JSON.parse(json);

        json = '{{ html["daily_datechart_data_tiira"]|safe }}';
        tiira_data = JSON.parse(json);

        json = '{{ html["daily_datechart_data_tipu"]|safe }}';
        tipu_data = JSON.parse(json);

        const daily_data = {
            datasets: [
                { 
                    data: vihko_data,
                    borderColor: '#FA5428',
                    pointStyle: false,
                    label: "Vihko, lintuatlas- ja retkilomake"
                },
                { 
                    data: tiira_data,
                    borderColor: '#99019C',
                    pointStyle: false,
                    label: "Tiira"
                },
                { 
                    data: tipu_data,
                    borderColor: '#74AC00',
                    pointStyle: false,
                    label: "Rengastukset"
                }
            ]
        };

        const daily_config = {
            type: 'line',
            data: daily_data,
            options: {}
        };
        
        const daily_myChart = new Chart(document.getElementById('daily_chart'), daily_config);
    </script>

{% endblock %}
