<!DOCTYPE html>
<html lang="fi">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
        <link rel="stylesheet" href="{{ url_for('static', filename='style-v2.css') }}">

        <script type="text/javascript">
            window.onload = function() {
                const squareselection = document.getElementById("squareselection");
                squareselection.onsubmit = function() {
                    const mode = document.getElementById("mode").value
                    const square = document.getElementById("square").value;
                    if ("squareform" == mode) {
                        const currentUrlPath = window.location.pathname
                        if (currentUrlPath.includes("mukautuva")) {
                            window.location = "/atlas/ruutulomake/" + square + "/mukautuva";
                        }
                        else {
                            window.location = "/atlas/ruutulomake/" + square + "/vakio";
                        }
                    }
                    else if ("squaremap" == mode) {
                        window.location = "/atlas/ruutu/" + square;
                    }
                    else if ("misslist" == mode) {
                        window.location = "/atlas/puutelista/" + square;
                    }
                    return false;
                };
            };

            // Update login info
            function updateLoginInfo() {
                url = "/login/info"
                fetch(url)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.text();
                    })
                    .then(html => {
                        document.getElementById('login_navi').innerHTML = html;
                    })
                    .catch(error => {
                        console.error('There has been a problem with your fetch operation:', error);
                    });
            }

            // Example usage
            updateLoginInfo();

        </script>

        {% block head %}{% endblock %}

    </head>
    <body>
    <div id="login_navi_wrapper">
        <div id="login_navi">Login navi</div>
    </div>
    <div id="allwrapper">
        
        <div id="navi">
            <p>
                <strong>
                    <a href="https://biomi.org/">biomi.org</a> &raquo; 

                    {% block breadcrumb %}{% endblock %}
                    
                </strong>
            </p>
        </div>    

        <div id="content">
            {% block body %}{% endblock %}
        </div>

    <p id="cc">Aineisto ellei toisin mainita: Suomen Lajitietokeskus <a href="https://laji.fi">Laji.fi</a>
        sekä Suomen 4. Lintuatlas <a href="https://lintuatlas.fi">lintuatlas.fi</a>, 
        Luonnontieteellinen keskusmuseo Luomus ja BirdLife Suomi. 
        <a href="https://creativecommons.org/licenses/by/4.0/deed.fi">Creative Commons 4.0 Nimeä Kansainvälinen</a>.
        Eri sivujen tiedot päivittyvät vaihtelevilla viiveillä, vähintään kerran vuorokaudessa.
        <br>
        Palvelu on <a href="https://github.com/mikkohei13/havistin2" title="Github-repositorio">avointa lähdekoodia</a>. Palaute: mikko.heikkinen{ät}biomi.org.
    </p>
    
    </div>
    </body>
</html>
