<!DOCTYPE html>
<html lang="fi" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% block head %}{% endblock %}

    </head>
    <body>
    <div id="allwrapper">
        
        <div id="navi">
            <p>
                <strong>
                    {% block breadcrumb %}{% endblock %}
                </strong>
            </p>
        </div>    

        <div id="content">
            {% block body %}{% endblock %}
        </div>
    
    </div>
    </body>
</html>
