<!DOCTYPE html>
<html lang="fi">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <!--
        <script async src="https://www.googletagmanager.com/gtag/js?id=GOOGLE_ANALYTICS_ID"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'GOOGLE_ANALYTICS_ID');
        </script>
        -->

        <script type="text/javascript">
            window.onload = function() {
                const squareselection = document.getElementById("squareselection");
                squareselection.onsubmit = function() {
                    const mode = document.getElementById("mode").value
                    const square = document.getElementById("square").value;
                    if ("squareform" == mode) {
                        const currentUrlPath = window.location.pathname
                        if (currentUrlPath.includes("mukautuva")) {
                            window.location = "/ruutulomake/" + square + "/mukautuva";
                        }
                        else {
                            window.location = "/ruutulomake/" + square + "/vakio";
                        }
                    }
                    else if ("squaremap" == mode) {
                        window.location = "/atlas/ruutu/" + square;
                    }
                    return false;
                };
            };
        </script>

        {% block head %}{% endblock %}

    </head>
    <body>

        <div id="navi">
            <p>
                <strong>
                    <a href="https://biomi.org/">biomi.org</a>

                    {% block breadcrumb %}{% endblock %}
                    
                </strong>
            </p>
        </div>    

        <div id="content">
            {% block body %}{% endblock %}
        </div>

    </body>
</html>
