{% extends "base.html" %}

{% block head %}
    <title>Havistin: lintu- ja luontotilastoja ja kuvia (biomi.org)</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block breadcrumb %}
    Havistin
{% endblock %}

{% block body %}

    <h1>Havistin</h1>

    {% if error %}
        <h3>Virhe</h3>
        {{ html["error"]|safe }}
    {% else %}
        <p>Tänään Lajitietokeskukseen on tullut <a href="https://laji.fi/observation/species?countryId=ML.206&time=0%2F0">{{ html["today_obs_count"] }} uutta havaintoa</a>.</p>
    {% endif %}


{% endblock %}
