{% extends "base.html" %}

{% block head %}
    <title>Lintuatlaksen tilastoja (biomi.org)</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block breadcrumb %}
<!-- Root page, no breadcrumb -->
{% endblock %}

{% block body %}

    <h1>Lintuatlaksen tilastoja ja apuvälineitä</h1>

    <p>Tällä sivustolla on Lintuatlaksen tuoreita tilastoja, perustuen <a href='https://api.laji.fi/'>Lajitietokeskuksen rajapintaan</a> ja avoimeen dataan. Useimmat tilastot päivittyvät kerran tunnissa, ruutulomake kerran vuorokaudessa.</p>
    <p>Vihkoon ja iNaturalistiin tallennetut havainnot ovat mukana tarkkoina, poislukien sensitiiviset lajit sekä käyttäjien karkeistamat havainnot, jotka tulevat mukaan 1-14 vrk viiveellä sekä karkeistuksen mukaisina. Tiiran havainnot tulevat mukaan karkeistettuna seuraavan yön jälkeen. Mukana ei ole epätodennäköisiä pesimähavaintoja.</p>

    <div id="subnavi">
        <h3>Tulostettava atlasruudun maastolomake</h3>
        <form id="squareselection" action="" method="get">
            <input id="mode" type="hidden" value="squareform">
            <label id="square-label">
                Ruutu:
                <input type="text" id="square" name="square">
            </label>
            <input type="submit" value="Valitse"> <span>(esim. 668:338)</span>
        </form>
    </div>

    <h3><a href='/atlas/lajiluettelo'>Lajit</a></h3>
    <p>Tietoja ja tilastoja yksittäisistä lajeista.</p>

    <h3><a href='/atlas/havaintosuhteet'>Lajien havaintomääriä</a></h3>
    <p>Havaintomäärien suhteita pesimäkannan kokoon.</p>

    <h3><a href='/atlas/lajit'>Viime aikoina havainnoidut lajit</a></h3>
    <p>Mistä lajeista on tehty eniten pesimähavaintoja viime aikoina?</p>

    <h3><a href='/atlas/ruudut'>Ruututilastoja</a></h3>
    <p>Aktiivisimmin kartoitettuja ruutuja</p>

    <h3><a href='/atlas/havainnoijat'>Havainnoijatilastoja</a></h3>
    <p>Aktiivisimpia havainnoijia</p>

    {{ html["collections_table"]|safe }}

    {{ html["accuracy_table"]|safe }}

    <h3>Havaintojen kertyminen</h3>
    <p>Huomaa että Tiiran havainnot tulevat Lajitietokeskukseen tallennusta seuraavana aamuna, joten esim. sunnuntaina tallennetut havainnot näkyvät tässä maanantain kohdalla.</p>

    <div>
        <canvas id="cumulative_chart"></canvas>
    </div>

    <div>
        <canvas id="daily_chart"></canvas>
    </div>

    <script type="text/javascript">
        json = '{{ html["cumulative_datechart_data_birdatlas"]|safe }}';
        birdatlas_data = JSON.parse(json);

        json = '{{ html["cumulative_datechart_data_trip"]|safe }}';
        trip_data = JSON.parse(json);

        json = '{{ html["cumulative_datechart_data_tiira"]|safe }}';
        tiira_data = JSON.parse(json);

//        json = '{{ html["cumulative_datechart_data_inat"]|safe }}';
//        inat_data = JSON.parse(json);

        const data = {
            datasets: [
                { 
                    data: birdatlas_data,
                    borderColor: '#FA5428',
                    label: "Vihko, lintuatlaslomake"
                },
                { 
                    data: trip_data,
                    borderColor: '#2691D9',
                    label: "Vihko, retkilomake"
                },
                { 
                    data: tiira_data,
                    borderColor: '#99019C',
                    label: "Tiira"
                }/*,
                { 
                    data: inat_data,
                    borderColor: '#74AC00',
                    label: "iNaturalist"
                }*/
            ]
        };

        const config = {
            type: 'line',
            data: data,
            /*
            // Stacked, but without unique filler colors
            options: {
                scales: {
                    yAxes: {
                        stacked: true
                    }
                }
            }
            */
           options: {}
        };
        
        const myChart = new Chart(document.getElementById('cumulative_chart'), config);
    </script>

    <script type="text/javascript">
        json = '{{ html["daily_datechart_data_birdatlas"]|safe }}';
        birdatlas_data = JSON.parse(json);

        json = '{{ html["daily_datechart_data_trip"]|safe }}';
        trip_data = JSON.parse(json);

        json = '{{ html["daily_datechart_data_tiira"]|safe }}';
        tiira_data = JSON.parse(json);

//        json = '{{ html["daily_datechart_data_inat"]|safe }}';
//        inat_data = JSON.parse(json);

        const daily_data = {
            datasets: [
                { 
                    data: birdatlas_data,
                    borderColor: '#FA5428',
                    label: "Vihko, lintuatlaslomake"
                },
                { 
                    data: trip_data,
                    borderColor: '#2691D9',
                    label: "Vihko, retkilomake"
                },
                { 
                    data: tiira_data,
                    borderColor: '#99019C',
                    label: "Tiira"
                }/*,
                { 
                    data: inat_data,
                    borderColor: '#74AC00',
                    label: "iNaturalist"
                }*/
            ]
        };

        const daily_config = {
            type: 'line',
            data: daily_data,
            /*
            // Stacked, but without unique filler colors
            options: {
                scales: {
                    yAxes: {
                        stacked: true
                    }
                }
            }
            */
            options: {}
        };
        
        const daily_myChart = new Chart(document.getElementById('daily_chart'), daily_config);
    </script>

{% endblock %}
