<h2>TechCrunch</h2>
<div class="articles">
{% for article in html["tc_articles"] %}
  <article>
    <h3><a href="{{ article.link }}" rel="noopener noreferrer" target="_blank">{{ article.title }}</a></h3>
    <p>{{ article.introduction }}</p>
  </article>
{% else %}
  <p>Rate limited</p>
{% endfor %}
</div>
<h2>The Verge</h2>
<div class="articles">
{% for article in html["tv_articles"] %}
  <article>
    <h3><a href="{{ article.link }}" rel="noopener noreferrer" target="_blank">{{ article.title }}</a></h3>
    <p>{{ article.introduction }}</p>
  </article>
{% else %}
  <p>Rate limited</p>
{% endfor %}
</div>
<h2>MIT AI News</h2>
<div class="articles">
{% for article in html["mit_articles"] %}
  <article>
    <h3><a href="{{ article.link }}" rel="noopener noreferrer" target="_blank">{{ article.title }}</a></h3>
    <p>{{ article.introduction }}</p>
  </article>
{% endfor %}
</div>