
<style>
#wrapper {
        background-color: #000;
        color: #fff;
        height: 500px;
}
#tower {
    position: relative;
}
span {
    color: #999;
}
strong {
    color: #fff;
}
.station {
    clear: both;
    position: absolute;
}
.station span {
    width: 5em;
    display: block;
    float: left;
    text-align: right;
}
.station span.meas_WD {
    width: 3em;
}
.arrow {
    margin-top: -5px;
    position: relative;
    left: -15px;
}
</style>

<div id="wrapper">
    <div id="tower">
        {{ html["test2"]|safe }}
    </div>
</div>