
<!--
status codes:
scheduled_only
delayed
early
on_time
-->

{% if html["error"] %}
  <p>{{ html["error"] }}</p>
{% elif html["stops"] %}
  {% for stop in html["stops"] %}
    <div class="stop" id="stop_id_{{ stop['stop_gtfs_id']|replace(':', '_') }}">
    <h3>{{ stop["display_name"] }}</h3>
    {% if stop["error"] %}
      <p>{{ stop["error"] }}</p>
    {% elif stop["departures"] %}
      <ul>
      {% for departure in stop["departures"] %}
        <li>
          {{ departure["line"] }}:
          {% if departure["realtime"] %}
            <!-- realtime -->
            <span class="time realtime">{{ departure["realtime_time"] }}</span>
            {% if departure["status"] == "delayed" %}
              <span class="delay_time delayed">{{ departure["delay_display"] }}</span>
            {% elif departure["status"] == "early" %}
              <span class="delay_time early">{{ departure["delay_display"] }}</span>
            {% endif %}
          {% else %}
            <!-- scheduled -->
            <span class="time scheduled_time">{{ departure["scheduled_time"] }}</span>
            <span class="scheduled">aikataulu</span>
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    {% else %}
      <p>EI löhteviä busseja.</p>
    {% endif %}
    </div>
  {% endfor %}
{% else %}
  <p>Bussien aikatauluja ei saatavilla.</p>
{% endif %}
