<h2>Bus departures</h2>

<!--
status codes:
scheduled_only
delayed
early
on_time
-->

{% if html["error"] %}
  <p>{{ html["error"] }}</p>
{% elif html["stops"] %}
  {% for stop in html["stops"] %}
    <h3>{{ stop["display_name"] }}</h3>
    {% if stop["error"] %}
      <p>{{ stop["error"] }}</p>
    {% elif stop["departures"] %}
      <ul>
      {% for departure in stop["departures"] %}
        <li>
          {{ departure["line"] }}:
          {% if departure["realtime"] %}
            <span class="time realtime">{{ departure["realtime_time"] }}</span>
            {% if departure["status"] == "delayed" %}
              <span class="delay_time delayed">{{ departure["delay_seconds"] }}</span>
            {% elif departure["status"] == "early" %}
              <span class="delay_time early">{{ departure["delay_seconds"] }}</span>
            {% endif %}
          {% else %}
            <span class="time scheduled_time">{{ departure["scheduled_time"] }}</span>
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    {% else %}
      <p>No upcoming departures.</p>
    {% endif %}
  {% endfor %}
{% else %}
  <p>No stop data available.</p>
{% endif %}
