<!DOCTYPE html>
<html>
<head>
    <title>Info screen</title>
    <style>
        body {
            color: #fff;
            background-color: #121;
            font-family: Roboto, 'Open Sans', Arial, Helvetica, sans-serif;
        }
        #birds {
            border: 1px solid lime;
            transition: opacity 200ms ease-in-out;
            opacity: 0;
        }
    </style>
</head>
<body>
    <div id="birds"></div>
    <div id="rain"></div>
    <!-- more HTML here -->
    <script>
        function fetchAPIData(apiUrl, elementId) {
            fetch(apiUrl)
                .then(response => response.text())
                .then(html => updateContent(html, elementId))
                .catch(error => console.error('Error:', error));
            console.log("Updated " + elementId);
        }
    
        function updateContent(html, elementId) {
            const contentDiv = document.getElementById(elementId);
            contentDiv.style.opacity = 0;
    
            setTimeout(() => {
                contentDiv.innerHTML = html;
                contentDiv.style.opacity = 1;
            }, 200);
        }
    
        // Set intervals for each element
        setInterval(() => fetchAPIData('/info/birds/{{ html["bird_secret"] }}', 'birds'), 10000);
        setInterval(() => fetchAPIData('/info/rain', 'rain'), 10100);
    
        // Initial calls
        fetchAPIData('/info/birds/{{ html["bird_secret"] }}', 'birds');
        fetchAPIData('/info/rain', 'rain');
    </script>
    
</body>
</html>
