{% extends "base.html" %}

    {% block head %}
    <title>Havistin: kirjaudu</title>
    {% endblock %}

    {% block breadcrumb %}
        <a href="/">Havistin</a> &raquo; Kirjautuminen
    {% endblock %}

    {% block body %}

    {% if session['user_data']['error'] %}
        <h1>Virheellinen kirjautuminen</h1>
        <!-- User not logged in -->
        <!-- {{ session }} -->
    {% else %}
        <h1>Olet nyt kirjautunut</h1>
        <p>Olet kirjautunut näillä tiedoilla:
            {{ session["user_data"]['fullName'] }},
            {{ session["user_data"]['id'] }},
            {{ session["user_data"]['emailAddress'] }}
        </p>
        <p>Voit <a href='/logout'>kirjautua ulos tästä</a> tai oikeasta ylänurkasta.</p>

        <h3><a href='/my/year/2024/MX.37600'>Omat havainnot 2024</a></h3>
        <h3><a href='/my/year/2023/MX.37600'>Omat havainnot 2023</a></h3>
        <p style="margin-top: 5em;">&nbsp;</p>

    {% endif %}

    {% endblock %}
