{% extends "base.html" %}

{% block head %}
    <title>Omat havainnot {{ html["year"] }} - Havistin (biomi.org)</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block breadcrumb %}
    <a href="/">Havistin</a> &raquo; Omat havainnot
{% endblock %}

{% block body %}

    <h1>Omat havainnot vuonna {{ html["year"] }}</h1>

    <canvas id="year_chart" class="chart"></canvas>

    <canvas id="day_chart" class="chart"></canvas>

<script>

// Year chart
var ctx = document.getElementById('year_chart').getContext('2d');
var chart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: {{ html["species_chart_data"]["days"]|safe }},
        datasets: [{
            label: 'Kumulatiivinen lajimäärä',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: {{ html["species_chart_data"]["cumulative_counts"]|safe }},
            fill: false,
        }]
    },
    options: {
        scales: {
            xAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Date'
                },
                type: 'time',
                time: {
                    parser: 'D.M.',
                    tooltipFormat: 'll'
                },
                ticks: {
                    autoSkip: true,
                    maxTicksLimit: 20
                }
            }],
            yAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Kumulatiivinen lajimäärä'
                }
            }]
        }
    }
});

// Day chart
// rgb(255, 99, 132) red
// rgb(96, 144, 7) green
// rgb(43, 170, 177) turquoise
var ctx = document.getElementById('day_chart').getContext('2d');
var chart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{ html["day_chart_data"]["days"]|safe }},
        datasets: [{
            label: 'Havaintojen lukumäärä',
            backgroundColor: 'rgb(43, 170, 177)',
            borderColor: 'rgb(43, 170, 177)',
            data: {{ html["day_chart_data"]["counts"]|safe }},
            fill: false,
        }]
    },
    options: {
        scales: {
            xAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Date'
                },
                type: 'time',
                time: {
                    parser: 'D.M.',
                    tooltipFormat: 'll'
                },
                ticks: {
                    autoSkip: true,
                    maxTicksLimit: 20
                }
            }],
            yAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Havaintojen lukumäärä'
                }
            }]
        }
    }
});

</script>
    
{% endblock %}
