{% extends "base.html" %}

{% block head %}
    <title>Omat havainnot {{ html["year"] }} - Havistin (biomi.org)</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var yearSelect = document.getElementById('yearSelect');
            var taxonSelect = document.getElementById('taxonSelect');
            var submitButton = document.getElementById('submitButton');

            function updateButtonStatus() {
                submitButton.disabled = !(yearSelect.value && taxonSelect.value);
            }

            function preselectValuesFromUrl() {
                var pathArray = window.location.pathname.split('/');
                // Assuming the URL pattern is "/my/year/{year}/{taxonKey}"
                if (pathArray.length === 5) {
                    var year = pathArray[3];
                    var taxonKey = pathArray[4];

                    if (year) {
                        yearSelect.value = year;
                    }
                    if (taxonKey) {
                        taxonSelect.value = taxonKey;
                    }
                }
                updateButtonStatus();
            }

            yearSelect.addEventListener('change', updateButtonStatus);
            taxonSelect.addEventListener('change', updateButtonStatus);

            submitButton.addEventListener('click', function () {
                submitButton.disabled = true;
                submitButton.textContent = 'Hakee havaintoja...';
                document.body.style.cursor = 'wait';

                var year = yearSelect.value;
                var taxonKey = taxonSelect.value;
                if (year && taxonKey) {
                    window.location.href = '/my/year/' + year + '/' + taxonKey;
                }
            });

            preselectValuesFromUrl();
        });

    </script>
{% endblock %}

{% block breadcrumb %}
    <a href="/">Havistin</a> &raquo; Omat havainnot
{% endblock %}

{% block body %}

    <h1>Omat havainnot Suomesta, {{ html["fi_name"] }} ({{ html["sci_name"] }}), {{ html["year"] }}</h1>

    <div id="subnavi">
        <h3>Valitse tarkasteltava vuosi ja lajiryhmä</h3>
        <form id="navigationForm">
            <label for="yearSelect">Vuosi:</label>
            <select id="yearSelect">
                <option value="">valitse</option>
                {{ html["year_options"]|safe }}
            </select>

            <label for="taxonSelect">lajiryhmä:</label>
            <select id="taxonSelect">
                <option value="">valitse</option>
                <option value="MX.37600">Kaikki lajit</option>
                <option value="MX.37602">- Eläimet</option>
                <option value="MX.37608">-- Sekärankaiset</option>
                <option value="MX.37580">--- Linnut</option>
                <option value="MX.37612">--- Nisäkkäät</option>
                <option value="MX.37613">-- Hyönteiset</option>
                <option value="MX.53695">--- Perhoset</option>
                <option value="MX.53683">--- Nivelkärsäiset</option>
                <option value="MX.229577">---- Luteet</option>
                <option value="MX.289596">---- Kaskaat</option>
                <option value="MX.43121">--- Kovakuoriaiset</option>
                <option value="MX.43122">--- Pistiäiset</option>
                <option value="MX.43123">--- Kaksisiipiset</option>
                <option value="MX.1">--- Sudenkorennot</option>
                <option value="MX.37601">Kasvit</option>
                <option value="MX.53078">- Putkilokasvit</option>
                <option value="MX.44109">- Lehtisammalet</option>
                <option value="MX.44394">- Maksasammalet</option>
                <option value="MX.53062">Sienet</option>
                <option value="MX.70582">- Jäkälät</option>
                <option value="MX.70149">Limasienet</option>
            </select>

            <button id="submitButton" type="button" disabled>Valitse</button>
        </form>
    </div>

    {% if html["got_results"] %}

    <h4>{{ html["obs_count"] }} havaintoa, eli {{ html["obs_count_day"] }} havaintoa päivässä</h4>

    <h2>Lajimäärän kasvu</h2>
    <canvas id="year_chart" class="chart"></canvas>

    <h2>Lajeja kuukaudessa</h2>
    <p>Mukana ovat havainnot, joiden havaintoaika on kirjattu kahden päivän tarkkuudella tai tarkemmin.</p>
    <canvas id="month_chart" class="chart"></canvas>

    <h2>Havaintojen määrä päivittäin</h2>
    <p>Mukana ovat havainnot, joiden havaintoaika on kirjattu kahden päivän tarkkuudella tai tarkemmin.</p>
    <p><strong>Havaintoja {{ html["days_with_observations"] }} päivältä eli {{ html["days_with_observations_percent"] }} % päivistä.</strong></p>
    <canvas id="day_chart" class="chart"></canvas>

    <h2>Harvinaisimmat lajit</h2>
    <p>Harvinaisuus määritellään Laji.fi:ssa olevien suomalaisten havaintojen määrän perusteella. Havaintomäärä vaihtelee voimakkaasti lajiryhmittäin.</p>
    {{ html["rarest_species"]|safe }}

<script>

// Year chart
var ctx = document.getElementById('year_chart').getContext('2d');
var chart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: {{ html["species_chart_data"]["days"]|safe }},
        datasets: [{
            label: 'Kumulatiivinen lajimäärä',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: {{ html["species_chart_data"]["cumulative_counts"]|safe }},
            fill: false,
        }]
    },
    options: {
        elements: {
            point: {
                hitRadius: 15,
                radius: 1,
            }
        },
        scales: {
            xAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Date'
                },
                type: 'time',
                time: {
                    parser: 'D.M.',
                    tooltipFormat: 'll'
                },
                ticks: {
                    autoSkip: true,
                    maxTicksLimit: 20
                }
            }],
            yAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Kumulatiivinen lajimäärä'
                }
            }]
        }
    }
});


// Month chart
// rgb(253, 104, 38) orange
// rgb(251, 216, 1) yellow
var ctx = document.getElementById('month_chart').getContext('2d');
var chart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
        datasets: [{
            label: 'Lajeja kuukaudessa',
            backgroundColor: 'rgb(251, 216, 1)',
            borderColor: 'rgb(251, 216, 1)',
            data: {{ html["month_chart_species_data"]|safe }},
            fill: false,
        }]
    },

    options: {
        scales: {
            xAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Month'
                },
                type: 'category',

                ticks: {
                    autoSkip: true,
                    maxTicksLimit: 12
                }
            }],
            yAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Lajeja kuukaudessa'
                }
            }]
        }
    }
});

// Day chart
// rgb(255, 99, 132) red
// rgb(96, 144, 7) green
// rgb(43, 170, 177) turquoise
var ctx = document.getElementById('day_chart').getContext('2d');
var chart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{ html["day_chart_data"]["days"]|safe }},
        datasets: [{
            label: 'Havaintojen lukumäärä',
            backgroundColor: 'rgb(43, 170, 177)',
            borderColor: 'rgb(43, 170, 177)',
            hoverBackgroundColor: 'rgb(255, 99, 132)',
            data: {{ html["day_chart_data"]["counts"]|safe }},
            fill: false,
        }]
    },
    options: {
        scales: {
            xAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Date'
                },
                type: 'time',
                time: {
                    parser: 'D.M.',
                    tooltipFormat: 'll'
                },
                ticks: {
                    autoSkip: true,
                    maxTicksLimit: 20
                }
            }],
            yAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Havaintojen lukumäärä'
                }
            }]
        }
    }
});

</script>

{% else %}

<h3>Ei havaintoja näillä hakuehdoilla.</h3>

{% endif %}
    
{% endblock %}
