{% extends "base.html" %}

{% block head %}
    <title>{{ html_title }} - Lintuatlas (biomi.org)</title>
{% endblock %}

{% block breadcrumb %}
    &raquo; <a href="../../">Lintuatlas</a> &raquo; Ruutulomake
{% endblock %}

{% block body %}

    <div id="heading">
    {{ html_heading|safe }}
    </div>

    <div id="info_top">
        <div id="info">
            {{ info_top|safe }}
        </div>
        <div id="fillable">
            <span id="paikka">Paikka:</span>
            <span id="taydellinen"><strong>☐</strong> Täydellinen lista</span>
            <span id="tallennettu">Tallennettu: <strong>☐</strong> Vihko <strong>☐</strong> Tiira <strong>☐</strong> iNaturalist</span>
            <span id="pvm">Pvm:</span>
            <span id="klo">Klo alku & loppu:</span>
            <span id="havainnoijat">Havainnoijat:</span>
        </div>
    </div>

    <div id="species_table">
        {{ html_table|safe }}
    </div>

    <div id="info_bottom">
        <p>
            {{ info_bottom|safe }}
            <strong>Lihavoituna</strong> lajit, joista on tehty eniten todennäköisiä tai varmistettuja pesintöjä viime aikoina. Havaintojen tallennusohjeet: <a href="https://lintuatlas.fi/havaintojen-tallentaminen">lintuatlas.fi/havaintojen-tallentaminen</a>
        </p>
        <p id ="version">
            Havistin/<a href="https://biomi.org/">biomi.org</a>, versio 20220328, palaute hiha(ät))biomi.org
        </p>
    </div>

{% endblock %}

