{% extends "base.html" %}

    {% block head %}
    <title>Lintuatlaksen tilastoja (biomi.org)</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script src="/static/leaflet-heat.js"></script> 
    {% endblock %}

    {% block breadcrumb %}
    &raquo; <a href="../../../">Lintuatlas</a> &raquo; Ruutukartta
    {% endblock %}

    {% block body %}

    <div id="subnavi">
        <h3>Atlasruudun havaintokartta</h3>
        <form id="squareselection" action="" method="get">
            <input id="mode" type="hidden" value="squaremap">
            <label id="square-label">
                Ruutu:
                <input type="text" id="square" name="square">
            </label>
            <input type="submit" value="Valitse"> <span>(esim. 668:338)</span>
        </form>
    </div>

    <div id="heading">
        <h1>{{ html["heading"]|safe }}</h1>
        <p id="links">
            <span>
                <a href="/atlas/ruutulomake/{{ html["square_id"] }}/vakio">Maastolomake</a>
            </span>
            <span>
                <a href="/atlas/puutelista/{{ html["square_id"] }}">Puutelista</a>
            </span>
            <span>
                Naapuriruudut:
                <a href="/atlas/ruutu/{{ html["neighbour_ids"]["w"] }}">&laquo; W</a>
                <a href="/atlas/ruutu/{{ html["neighbour_ids"]["n"] }}">N</a>
                <a href="/atlas/ruutu/{{ html["neighbour_ids"]["s"] }}">S</a>
                <a href="/atlas/ruutu/{{ html["neighbour_ids"]["e"] }}">E &raquo;</a>
            </span>
            <span>
                <a href="https://laji.fi/map?gridsquare={{ html["square_id"] }}&layers=maastokartta,atlasGrid&print=true">Tulostettava kartta</a>
            </span>
        </p>
        <p>Tämä kartta näyttää ne ruudun atlashavainnot, joiden paikka on tiedossa Lajitietokeskuksessa noin 5 km tai paremmalla tarkkuudella.</p>
    </div>

    <p>{{ html["accuracies"]|safe }}</p>

    <div id="map"></div>

    <h3>Havainnoijat tällä ruudulla (top 30)</h3>

    <p>{{ html["observers"]|safe }}</p>

    <script>
        var map = L.map('map', { scrollWheelZoom: false }).setView([{{ html["centerpoint"]|safe }}], 11);
        
        // Set max zoom, since too much zooming gives wrong impression of inaccurate obs locations.
        // But: this affects heat map calculations!
        //map.options.maxZoom = 14;
        
        var tiles = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
        }).addTo(map);
        
        var heat = L.heatLayer([
            {{ html["coordinates"]|safe }}
        ], {radius: 20, blur: 15, minOpacity: 0.3}).addTo(map);

        var polyLatLon = [ {{ html["cornerpoints"]|safe }} ];
        var polyline = L.polyline(polyLatLon, {color: 'red'}).addTo(map);
    </script>        

    {% endblock %}
