{% extends "base.html" %}

{% block head %}
    <title>Lajitietoa (biomi.org)</title>
{% endblock %}

{% block breadcrumb %}
    <a href='/'>Havistin</a> &raquo; Lajitietoa
{% endblock %}

{% block body %}

    <h1>Lajitietoa</h1>

    <ul>
        <li><a href="/taxa/miss?lat=60.6267&lon=25.2862&taxon=MX.1&since_year=2001&near=25&far=100">Puutelista</a> – näyttää tietyltä alueelta puuttuvat lajit suhteessa laajemman alueen lajistoon</li>
    </ul>
    <ul>
        <li><a href='/taxa/id/heteroptera_new'>Luteet, uudet lajit 1: Corixidae - Miridae</a></li>
        <li><a href='/taxa/id/heteroptera_new_2'>Luteet, uudet lajit 2: Nabidae - Pentatomidae</a></li>
        <li><a href='/taxa/id/heteroptera_near'>Luteet, lähialueiden lajit</a></li>
    </ul>
    <ul>
        <li><a href='/taxa/compare_years/MX.37580'>Linnut, vuosivertailu</a></li>
    </ul>
    <ul>
        <li><a href='/taxa/MX.229577'>Luteet</a></li>
        <li><a href='/taxa/MX.289596'>Kaskaat</a></li>
        <li><a href='/taxa/MX.1'>Sudenkorennot</a></li>
        <!--<li><a href='/taxa/MX.37580'>Linnut</a></li>-->
    </ul>

{% endblock %}
