{% extends "base.html" %}

{% block head %}
    <title>{{ html["raw_data"]["scientificName"] }} - {{ html["raw_data"]["vernacularName"] }} - Lajitietoa (biomi.org)</title>
{% endblock %}

{% block breadcrumb %}
    <!-- TODO: Remove hardcoded parent level --->
    <a href='/'>Havistin</a> &raquo; <a href='/taxa'>Lajitietoa</a> &raquo; <a href='../{{ html["raw_data"]["parent"]["suborder"]["id"] }}'>{{ html["raw_data"]["parent"]["suborder"]["scientificName"] }}</a> &raquo; {{ html["raw_data"]["scientificName"] }}
{% endblock %}

{% block body %}

    <h1><em>{{ html["raw_data"]["scientificName"] }}</em> {{ html["raw_data"]["scientificNameAuthorship"] }} - {{ html["raw_data"]["vernacularName"] }}</h1>

    <p><a href='https://laji.fi/observation/statistics?target={{ html["raw_data"]["qname"] }}'>Havaintotilastoja Laji.fi:ssa</a></p>

    <p>{{ html["raw_data"]["occurrenceCountFinland"] }} havaintoa Suomesta</p>

    <p>Esiintymisen tyyppi: {{ html["occurrence_status"] }}</p>

    {% if html["primary_habitat"] %}
        <p>Ensisijainen habitaatti: {{ html["primary_habitat"] }}</p>
    {% endif %}    

    {% if html["redlist_status"] %}
        <p>Uhanalaisuusluokka: {{ html["redlist_status"] }} ({{ (html["redlist_year"]) }})</p>
    {% endif %}

    {{ html["hostInformalNameString"] | safe }}
    {{ html["habitatIUCN"] | safe }}
    {{ html["habitatDescription"] | safe }}

    {{ html["samplingMethod"] | safe }}
    {{ html["lifeStage"] | safe }}

    <h3>Raakadata</h3>

    {{ html["fact_table"] | safe }}

{% endblock %}
