{% extends "base.html" %}

    {% block head %}
    <title>Havaintomäärät: tämä viikko verrattuna viime vuoteen (biomi.org)</title>
    {% endblock %}

    {% block breadcrumb %}
        <a href='/'>Havistin</a> &raquo; <a href='/taxa'>Lajitietoa</a> &raquo; Vuosivertailu
    {% endblock %}

    {% block body %} 

    <h1>Viimeisen kuukauden lajit vertailtuna viime vuoden samaan kuukauteen</h1>
    <p>Koko Suomen havaintojen määrä (pois lukien rengastustietokantaja LajiGIS). Luettelo näyttää vain lajit, jota on havaittu tänä vuonna. Huomaa että koska suhdeluku on normalisoitu ko. ajanjakson kokonaishavaintomäärään, joten normalisoitu suhde ei ole sama kuin havaintojen suhde.</p>
    
    {{ html["data"]|safe }}

    {% endblock %}
