{% extends "base.html" %}

{% block head %}
    <title>Lajitietoa (biomi.org)</title>
{% endblock %}

{% block breadcrumb %}
    <a href='/'>Havistin</a> &raquo; Lajitietoa
{% endblock %}

{% block body %}

    <h1>Lajitietoa</h1>

    <ul>
        <li><a href='/taxa/id/heteroptera_new'>Luteet, uudet lajit</a></li>
    </ul>
    <ul>
        <li><a href='/taxa/MX.229577'>Luteet</a></li>
        <li><a href='/taxa/MX.289596'>Kaskaat</a></li>
        <li><a href='/taxa/MX.1'>Sudenkorennot</a></li>
        <!--<li><a href='/taxa/MX.37580'>Linnut</a></li>-->
    </ul>

{% endblock %}
