<style>
div {
    margin: 5px;
    border: 1px dashed darkorchid    
}
#v_wrapper {
    border: 1px solid aquamarine;
}
#v_sidebar {
    border: 1px solid seagreen;
}
#v_content {
    border: 1px solid cornflowerblue;
}
.v_gathering {
    border: 1px solid goldenrod;
}
.v_unit {
    border: 1px solid violet;
}
#v_document_head {
    border: 1px solid hotpink;
}
#v_maincontent {
    border: 1px solid mediumblue;
}

#v_collection_quality_symbol, #v_unit_quality_symbol {
    width: 1em;
    height: 1em;
}


#v_maincontent {
    display: flex;
}

#v_sidebar {
    flex: 0 0 300px; /* Adjust width as needed */
}

#v_sidebar ul {
    list-style: none;
    padding: 0;
}

#v_sidebar li {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
}

#v_sidebar li:hover {
    background-color: #e9e9e9;
}

#v_content {
    flex: 1;
    padding: 20px;
}

.v_gathering {
    display: none;
}

.active-tab {
    display: block;
}

</style>


<div id="v_wrapper">

    {{ html["doc"]|safe }}

</div>

<!--
<hr>

<h2>Debug</h2>
<p class="debug">
    {% if user_data is none %}
    Not logged in
    {% elif error in session['user_data'] %}
    Error
    {% else %}
    Logged in
    {% endif %}
    </p>
    
{{ html["data"] }}
-->

<script>
/*
document.addEventListener('DOMContentLoaded', function() {
    var tabs = document.querySelectorAll('#v_sidebar li');
    var contents = document.querySelectorAll('.v_gathering');

    tabs.forEach(function(tab) {
        tab.addEventListener('click', function() {
            var target = this.getAttribute('data-target');

            // Hide all content
            contents.forEach(function(content) {
                content.classList.remove('active-tab');
            });

            // Show the clicked content
            document.getElementById(target).classList.add('active-tab');
        });
    });
});
*/

document.addEventListener('DOMContentLoaded', function() {
    var tabs = document.querySelectorAll('#v_sidebar li');
    var contents = document.querySelectorAll('.v_gathering');

    tabs.forEach(function(tab) {
        tab.addEventListener('click', function() {
            var target = this.getAttribute('data-target');

            // Hide all content
            contents.forEach(function(content) {
                content.classList.remove('active-tab');
            });

            // Show the clicked content
            document.getElementById(target).classList.add('active-tab');
        });
    });
});


function copyToClipboard(text) {
    // Create a temporary textarea element
    const textarea = document.createElement('textarea');
    textarea.value = text;
    document.body.appendChild(textarea);

    // Select the text and copy it
    textarea.select();
    document.execCommand('copy');

    // Remove the temporary textarea
    document.body.removeChild(textarea);

    // Optionally, alert the user that text was copied
    alert('Copied: ' + text);
}
</script>