<style>
#v_all {
    border: 1px solid aquamarine;
}
.v_gathering {
    border: 1px solid goldenrod;
}
.v_unit {
    border: 1px solid violet;
}
#v_collection_quality_symbol, #v_unit_quality_symbol {
    width: 1em;
    height: 1em;
}

</style>


<div id="v_all">

    {{ html["doc"]|safe }}

</div>

<hr>

<h2>Debug</h2>
<p class="debug">
    {% if user_data is none %}
    Not logged in
    {% elif error in session['user_data'] %}
    Error
    {% else %}
    Logged in
    {% endif %}
    </p>
    
{{ html["data"] }}

<script>
    function copyToClipboard(text) {
        // Create a temporary textarea element
        const textarea = document.createElement('textarea');
        textarea.value = text;
        document.body.appendChild(textarea);

        // Select the text and copy it
        textarea.select();
        document.execCommand('copy');

        // Remove the temporary textarea
        document.body.removeChild(textarea);

        // Optionally, alert the user that text was copied
        alert('Copied: ' + text);
    }
</script>